body {
  display: flex;
}

textarea {
  resize: none;
  width: 100%;
  /* margin-bottom: 10px; */
  padding: 10px;
}

.form {
  width: 400px;
  outline: 1px solid #ccc;
  box-shadow: 5px 5px 19px 2px rgba(0, 0, 0, 0.63);
  margin: auto;
  margin-top: 50px;
  padding: 20px;
}

button {
  display: block;
  margin: 0 auto;
  width: 200px;
  border: 1px solid #2a2a2a;
  border-radius: 10px;
  padding: 5px;
}

p {
  margin: 0;
  padding: 0;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

input {
  margin: 0;
  padding: 6px 10px;
  border-radius: 10px;
  border: 1px solid #2a2a2a;
}

.form-field label {
  margin-bottom: 5px;
}

input[type='file'] {
  border: none;
}

input[type='checkbox'],
input[type='radio'] {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

input::placeholder {
  color: #ccc;
}

.options label {
  font-size: 18px;
}

.group-title {
  font-size: 20px;

  margin-top: 10px;
  margin-bottom: 10px;
}

.options {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.policy {
  margin-bottom: 10px;
}

.date {
  padding: 10px;
  font-size: 18px;
}

.comment {
  padding: 10px;
}

/* ------------------------Форма №2-------------------------- */

.contact-form {
  width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 5px 5px 19px 2px rgba(0, 0, 0, 0.63);
  padding: 40px 20px;
}

.contact-form-input {
  width: 100%;
  padding: 6px 10px 6px 30px;
}

.contact-form-input:focus {
  outline: none;
}

.contact-form-input:focus:not(:placeholder-shown):valid {
  border-color: green;
}

.contact-form-input:focus:not(:placeholder-shown):invalid {
  border-color: red;
}

.contact-form-group {
  margin-bottom: 20px;
}

.form-group-title {
  margin-bottom: 10px;
}

/* ---------------------Форма №3-------------------- */

.form-input {
  display: block;
  margin-bottom: 20px;
}

.form-label {
  color: #969696;
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  transition: transform 200ms linear, color 200ms linear;
}

.form-input {
  position: relative;
}

.contact-form-input {
  transition: border-color 200ms linear;
}

.contact-form-input:focus + .form-label,
.contact-form-input:not(:placeholder-shown) + .form-label {
  transform: translateY(-35px) translateX(-20px);
  color: #2196f3;
}

.contact-form-input:focus {
  border-color: #2196f3;
}

.icon {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 10px;
  transition: fill 200ms linear;
  transform: translateY(-50%);
}

.contact-form-input:focus ~ .icon,
.contact-form-input:not(:placeholder-shown) ~ .icon {
  fill: #2196f3;
}

.checkbox-group {
  display: flex;
  align-items: center;
}

.checkbox-main-group {
  display: flex;
  justify-content: space-around;
}

.checkbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid #2a2a2a;
  border-radius: 5px;
  margin-right: 5px;
}

.contact-form-radio:checked + .checkbox {
  background-color: #2196f3;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.radio {
  border: 2px solid #2a2a2a;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
  position: relative;
}
.radio:after {
  content: '';
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 7px;
  background-color: #2196f3;
  border-radius: 50%;
  height: 7px;
}

.contact-form-radio:checked + .radio {
  border-color: #2196f3;
}

.contact-form-radio:checked + .radio:after {
  display: block;
}

/* -----------------------Форма №4------------------------- */

.modal-form-field {
  display: flex;
  flex-direction: column;
}

.modal-form-head {
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-icon {
  width: 15px;
  height: 15px;
  background-color: green;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  margin-left: 10px;
  transition: background-color 250ms linear;
}

.modal-form-input {
  width: 100%;
  padding-left: 31px;
  transition: border-color 250ms linear;
}

.modal-form-input:focus {
  outline: none;
  border-color: #2196f3;
}

.modal-form-input:focus + .modal-form-icon {
  background-color: #2196f3;
}

.modal-form-wrapper {
  position: relative;
  display: block;
}

.modal-form-message:focus {
  outline: none;
  border-color: #2196f3;
}

.modal-form-message {
  transition: border-color 250ms linear;
}

.modal-form-message::placeholder {
  color: #ccc;
  font-weight: 300;
}

.modal-form-checkbox {
  font-size: 14px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-form-checkbox::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid #2a2a2a;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 5px;
  transition: outline 250ms linear;
}

.contact-form-button {
  margin-top: 10px;
}

.modal-form-check:checked + .modal-form-checkbox::before {
  background-color: #2196f3;
  border-color: #2196f3;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
}

.modal-form-check:focus + .modal-form-checkbox::before {
  outline: 2px solid #2196f3;
}

.modal-form-checkbox-link {
  color: #2196f3;
}

.form-autocheck {
  max-width: 360px;
  margin: auto;
  margin-top: 50px;
  padding: 1rem 2rem 1rem 1rem;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 6px 3px hsla(0, 0%, 0%, 0.2);
  font-family: sans-serif;
  text-transform: uppercase;
}
.buttons,
.autocheck-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.autocheck-label {
  margin-bottom: 1.5rem;
}
.autocheck-label span {
  opacity: 0.6;
}
.form-autocheck-input {
  border: 2px solid lavender;
  padding: 4px;
  border-radius: 0.25rem;
}
.form-autocheck-btn {
  padding: 0.5rem 1.75rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
  border: none;
  outline: none;
  opacity: 0.6;
  background-color: gray;
  color: #fff;
}
.form-autocheck-btn:hover {
  background-color: gray;
  opacity: 1;
}

/* placeholder */
.form-autocheck-input::placeholder {
  color: rebeccapurple;
}

/* focus-within */
.autocheck-label:focus-within span {
  opacity: 1;
}
.form-autocheck:focus-within .form-autocheck-btn[type='submit'] {
  opacity: 0.6;
  background-color: seagreen;
}
.form-autocheck:focus-within .form-autocheck-btn[type='reset'] {
  opacity: 0.6;
  background-color: crimson;
}
.form-autocheck:focus-within {
  box-shadow: 1px 1px 2px 2px hsla(0, 0%, 0%, 0.3);
}

/* valid */
.form-autocheck:valid .form-autocheck-btn {
  color: #fff;
  pointer-events: none;
}

/* combination  */
.form-autocheck:focus-within:valid .form-autocheck-btn {
  opacity: 1;
}
.form-autocheck-input:not(:placeholder-shown):valid {
  border-color: seagreen;
}
.form-autocheck-input:not(:placeholder-shown):invalid {
  border-color: crimson;
}
