textarea {
  resize: none;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

.form {
  width: 400px;
  outline: 1px solid #ccc;
  box-shadow: 5px 5px 19px 2px rgba(0, 0, 0, 0.63);
  margin: auto;
  margin-top: 50px;
  padding: 20px;
}

button {
  display: block;
  margin: 0 auto;
  width: 200px;
  border: 1px solid #2a2a2a;
  border-radius: 10px;
  padding: 5px;
}

p {
  margin: 0;
  padding: 0;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

input {
  margin: 0;
  padding: 6px 10px;
  border-radius: 10px;
  border: 1px solid #2a2a2a;
}

.form-field label {
  margin-bottom: 5px;
}

input[type='file'] {
  border: none;
}

input[type='checkbox'],
input[type='radio'] {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

input::placeholder {
  color: #ccc;
}

.options label {
  font-size: 18px;
}

.group-title {
  font-size: 20px;

  margin-top: 10px;
  margin-bottom: 10px;
}

.options {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.policy {
  margin-bottom: 10px;
}

.date {
  padding: 10px;
  font-size: 18px;
}

.comment {
  padding: 10px;
}

/* ------------------------Форма №2-------------------------- */

.contact-form {
  width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 5px 5px 19px 2px rgba(0, 0, 0, 0.63);
  padding: 40px 20px;
}

.contact-form-input {
  width: 100%;
  padding: 6px 10px 6px 30px;
}

.contact-form-input:focus {
  outline: none;
}

.contact-form-input:focus:not(:placeholder-shown):valid {
  border-color: green;
}

.contact-form-input:focus:not(:placeholder-shown):invalid {
  border-color: red;
}

.contact-form-group {
  margin-bottom: 20px;
}

.form-group-title {
  margin-bottom: 10px;
}

/* ---------------------Форма №3-------------------- */

.form-input {
  margin-bottom: 20px;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  transition: transform 200ms linear, color 200ms linear;
}

.form-input {
  position: relative;
}

.contact-form-input {
  transition: border-color 200ms linear;
}

.contact-form-input:focus + .form-label,
.contact-form-input:not(:placeholder-shown) + .form-label {
  transform: translateY(-35px) translateX(-20px);
  color: #2196f3;
}

.contact-form-input:focus {
  border-color: #2196f3;
}

.icon {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 10px;
  transition: fill 200ms linear;
  transform: translateY(-50%);
}

.contact-form-input:focus ~ .icon,
.contact-form-input:not(:placeholder-shown) ~ .icon {
  fill: #2196f3;
}

.checkbox-group {
  display: flex;
  align-items: center;
}

.checkbox-main-group {
  display: flex;
  justify-content: space-around;
}
