textarea {
  resize: none;
}

.form {
  width: 400px;
  outline: 1px solid #ccc;
  box-shadow: 5px 5px 19px 2px rgba(0, 0, 0, 0.63);
  margin: auto;
  margin-top: 50px;
  padding: 20px;
}

button {
  width: 100%;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

input {
  margin: 0;
  padding: 6px 10px;
  border-radius: 10px;
  border: 1px solid #2a2a2a;
}

.form-field label {
  margin-bottom: 5px;
}

input[type="file"] {
  border: none;
}

input[type="checkbox"],
input[type="radio"] {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

input::placeholder {
  color: #ccc;
}

.options label {
  font-size: 18px;
}

.group {
}

.group-title {
  font-size: 20px;

  margin-top: 10px;
  margin-bottom: 10px;
}

.options {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.policy {
  margin-bottom: 10px;
}

.date {
  padding: 10px;
  font-size: 18px;
}

.comment {
  padding: 10px;
}
